.col-lg-8 {
    margin : 0 auto;
    margin-top: 50px;
}
.dashboard-section {
    padding: 20px 45px;
}
.col-lg-8 {
    margin: 0 auto;
    margin-top: 0px;
}
.main-section{
    padding: 0;
    padding-top: 55px;
}
.freelancer-search{
    background: #f2f2f2;    
}
.freelancer-search-icon{
    margin-top: 0px;
    /* margin-top: 12px; */
    margin-left: 0px;       
}
.freelancer-form{
    padding: 12px 13px 0px;    
}
.freelancer-search-icon .freelancer-search-button{
    padding: 5px 6px;
}
.lni-search:hover{
    color:white;
    
}
.freelancer-search-icon:hover , .freelancer-search-button:hover  {
    color: #00BCD4;
}
.right-sideabr .list-item .skill-list {
    padding: 15px 20px;
    border-bottom: 0px solid #f7f7f7;
}
.client-dashboard-manager{
    box-shadow: none; 
    margin: 0;
    box-sizing: unset;
}
.client-dashboard-manager .client-dashboard-item .client-dashboard-resume{
        margin-top:0;
     padding: 0;
     border-top: 0;
}
.client-dashboard-item{
    box-sizing: unset;
}
.client-dashboard-center{
    text-align: center;
}
.manager-resumes-item .item-body .tag-list span{
    margin:3px;
}
.view-more-bids-anchor{
    padding: 4px 12px;
}