.col-lg-8 {
    margin : 0 auto;
    margin-top: 50px;
}
.dashboard-section {
    padding: 20px 45px;
}
.col-lg-8 {
    margin: 0 auto;
    margin-top: 0px;
}
.main-section{
    padding: 0;
    padding-top: 55px;
}
.freelancer-search{
    background: #f2f2f2;    
}
.freelancer-search-icon{
    margin-top: 0px;
    /* margin-top: 12px; */
    margin-left: 0px;       
}
.freelancer-form{
    padding: 12px 13px 0px;    
}
.freelancer-search-icon .freelancer-search-button{
    padding: 5px 6px;
    
}
.freelancer-search-icon:hover .freelancer-search-button:hover{
    background: #00BCD4;
    color: #fff;
}
.lni-search:hover{
    color:white;
    
}
.freelancer-search-icon:hover , .freelancer-search-button:hover  {
    color: #00BCD4;
}
.right-sideabr .list-item .skill-list {
    padding: 15px 20px;
    border-bottom: 0px solid #f7f7f7;
}
.client-dashboard-manager{
    box-shadow: none; 
    margin: 0;
    box-sizing: unset;
}
.client-dashboard-manager .client-dashboard-item .client-dashboard-resume{
        margin-top:0;
     padding: 0;
     border-top: 0;
}
.client-dashboard-item{
    box-sizing: unset;
}
.client-dashboard-center{
    text-align: center;
}
.manager-resumes-item .item-body .tag-list span{
    margin:3px;
}
.view-more-bids-anchor{
    padding: 4px 12px;
}
span.signup-span {
    margin-left: 8px;
}
span.profile-li-span {
    font-weight: bold;
    margin-right: 6px;
}
.right-sideabr .list-item .profile-li-skill-list{
    padding: 8px 20px;
}
a.profile-anchor {
    margin-left: 117px;
}
.manager-resumes-item .item-body .project-details-resume-skills{
    margin-top: 0px;
    border-top: none;
    padding: 0px 30px 5px;
}
.manager-resumes-item .item-body .project-details-content{
    padding: 8px 30px;
}
.manager-resumes-item .project-details-manager-content{
    padding: 0;
    background: none;
}
.manager-resumes-item .item-body .profile-view-resume-skills{
    padding: 7px 30px 0px;
    padding-left: 89px;
    width: 31%;
}
.client-profile-manager{
    box-shadow: none;
}
.client-profile-manager .item-body .client-profile-manager-content{
    padding: 2px 93px 0px 0px;
    padding-left: 0;
}
.faltu-anchor{
    background: none;
}
.client-profile-h6{
    margin-top: 1.5rem;
}
.manager-resumes-item .manager-content .manager-info .search-manager-meta{
    float: none;
    margin-bottom: 2px;
}
.client-profile-margin{
    margin-right: 26px;
}
.custom-file-label::after {
    content: "Browse";
    width: 100%;
    text-align: center;
}
.job-detail .content-area .view-bids-h4{
    margin-bottom: 0;
}
.manager-resumes-item .manager-content .manager-info .view-bids-button{
    float: none;
    margin-top: 3px;
}
.view-bids-anchor{
    padding: 5px 14px;
}
/* dfhbdfh.sjknk */
/* .col-lg-8 {
    margin : 0 auto;
    margin-top: 50px;
}
.dashboard-section {
    padding: 20px 45px;
}
.col-lg-8 {
    margin: 0 auto;
    margin-top: 0px;
}
.main-section{
    padding: 0;
    padding-top: 55px;
}
.freelancer-search{
    background: #f2f2f2;    
}
.freelancer-search-icon{
    margin-top: 0px;
    margin-left: 0px;       
}
.freelancer-form{
    padding: 12px 13px 0px;    
}
.freelancer-search-icon .freelancer-search-button{
    padding: 5px 6px;
    
}
.freelancer-search-icon:hover .freelancer-search-button:hover{
    background: #00BCD4;
    color: #fff;
}
.lni-search:hover{
    color:white;
    
}
.freelancer-search-icon:hover , .freelancer-search-button:hover  {
    color: #00BCD4;
}
.right-sideabr .list-item .skill-list {
    padding: 15px 20px;
    border-bottom: 0px solid #f7f7f7;
}
.client-dashboard-manager{
    box-shadow: none; 
    margin: 0;
    box-sizing: unset;
}
.client-dashboard-manager .client-dashboard-item .client-dashboard-resume{
        margin-top:0;
     padding: 0;
     border-top: 0;
}
.client-dashboard-item{
    box-sizing: unset;
}
.client-dashboard-center{
    text-align: center;
}
.manager-resumes-item .item-body .tag-list span{
    margin:3px;
}
.view-more-bids-anchor{
    padding: 4px 12px;
}
span.signup-span {
    margin-left: 8px;
}
span.profile-li-span {
    font-weight: bold;
    margin-right: 6px;
}
.right-sideabr .list-item .profile-li-skill-list{
    padding: 8px 20px;
}
a.profile-anchor {
    margin-left: 117px;
}
.manager-resumes-item .item-body .project-details-resume-skills{
    margin-top: 0px;
    border-top: none;
    padding: 0px 30px 5px;
}
.manager-resumes-item .item-body .project-details-content{
    padding: 8px 30px;
}
.manager-resumes-item .project-details-manager-content{
    padding: 0;
    background: none;
}
.manager-resumes-item .item-body .profile-view-resume-skills{
    padding: 7px 30px 0px;
    padding-left: 89px;
    width: 31%;
}
.client-profile-manager{
    box-shadow: none;
}
.client-profile-manager .item-body .client-profile-manager-content{
    padding: 2px 93px 0px 0px;
    padding-left: 0;
}
.faltu-anchor{
    background: none;
}
.client-profile-h6{
    margin-top: 1.5rem;
}
.manager-resumes-item .manager-content .manager-info .search-manager-meta{
    float: none;
    margin-bottom: 2px;
}
.btn-danger{
    background-color:#00BCD4;
}
.chatbox {
    margin: 0px auto;
    width: 50%;
    border: #00BCD4 2px solid;
    border-radius: 10px 10px 0px 0px;
    margin-top: 10px;
    height: 87vh;
    bottom: 0;
    right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}

ul.chatbox-listing {
    overflow-y: scroll;
    list-style: none;
    bottom: 38px;
    left: 0;
    display: flex;
    width: calc( 100% - 2px );
    padding: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px #00BCD4 solid; 
    height: 85%;
    flex-wrap: wrap;
    align-content: flex-end;
}
 
.message {
    background: #00BCD4;
    color: white;
    border-radius: 0px 5px;
    margin-top: 5px;
    padding: 5px;
    font-size: 12px;
    width: calc(100% - 50px);
}

.message.your-message {
    background: #03A9F4;
    border-radius: 5px 0px;
    float: right;
}
.chatarea {
    height: 10%;
    width: 100%;
    bottom: 0;
    display: flex;
    padding: 5px;
    align-items: center;
}

input.form-control {
    float: left;
    margin-right: 10px;
}

input[type="button"] {
    border-radius: 4px;
    border: none;
    padding: 2px 10px;
    margin-top: 3px;
}
.view {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

form {
    width: 100%;
}

.col-80 {margin: 10px;flex-grow: 1;}

li{
    width: 100%;
} */